@import './title.css';
@import './img.css';
@import './number.css';

.carousel__card {
    min-width: 230px;
    border-right: 1px solid #B9B9B9;
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.carousel__card:hover{
    cursor: pointer;
}