.card__title {
    margin-top: 7px;
    margin-bottom: 9px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333;
}